<main class="main_bienvenida">
  <section class="access_section cliente">
    <h1>Registrarse</h1>

    <div class="login-container">
      <div class="login-form">
        <form (ngSubmit)="onSubmit()">

          <!-- GRID PARA DOS COLUMNAS -->
          <div class="form-grid">

            <!-- COLUMNA IZQUIERDA -->
            <div class="form-column">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" [value]="nombre()" (input)="nombre.set($any($event.target).value)">
                <div class="char-counter">{{ nombre() | limitadorCaracteres:maxNombre }}/{{ maxNombre }}</div>
                <div class="error" *ngIf="nombreError()">{{ nombreError() }}</div>
              </div>

              <div class="form-group">
                <label>Email</label>
                <input type="email" [value]="email()" (input)="email.set($any($event.target).value)">
                <div class="error" *ngIf="emailError()">{{ emailError() }}</div>
              </div>

              <div class="form-group">
                <label>Contraseña</label>
                <input type="password" [value]="password()" (input)="password.set($any($event.target).value)">
                <div class="error" *ngIf="passwordError()">{{ passwordError() }}</div>
              </div>
            </div>

            <!-- COLUMNA DERECHA -->
            <div class="form-column">
              <div class="form-group">
                <label>Apellido</label>
                <input type="text" [value]="apellido()" (input)="apellido.set($any($event.target).value)">
                <div class="char-counter">{{ apellido() | limitadorCaracteres:maxApellido }}/{{ maxApellido }}</div>
                <div class="error" *ngIf="apellidoError()">{{ apellidoError() }}</div>
              </div>

              <div class="form-group">
                <label>Edad</label>
                <input type="number" [value]="edad()" (input)="edad.set($any($event.target).valueAsNumber)">
                <div class="error" *ngIf="edadError()">{{ edadError() }}</div>
              </div>

              <div class="form-group">
                <label>Confirmar Contraseña</label>
                <input type="password" [value]="confirmPassword()" (input)="confirmPassword.set($any($event.target).value)">
                <div class="error" *ngIf="confirmPasswordError()">{{ confirmPasswordError() }}</div>
              </div>
            </div>

          </div>

          <button type="submit" class="btn-login">Registrar</button>
        </form>

        <div class="extra-actions">
          <span class="inicio">¿Ya tenés cuenta?</span>
          <button class="btn-register" (click)="goToLogin()">Iniciar Sesión</button>
        </div>

      </div>
    </div>
  </section>
</main>